$cream: rgba(250, 248, 244, 1.00);
$red: rgba(239, 51, 64, 1.00);
$dark_blue: rgba(10, 34, 57, 1.00);
$blue: rgba(59, 78, 97, 1.00);
$lighter-grey: rgba(241, 243, 241, 1.00);
$radius-large: 5px !default;