@import "variables";

.is-emergya {
    background: url("/resources/assets/images/img-approach@3x_old.png") no-repeat center center fixed;
    background-size: cover;
    background-color: $cream;
}

.image.is-circle img {
    border-radius: 50%;
}

.hero {
    .hero-body {
        h1 {
            color: $lighter-grey;
        }
        .container  {
            z-index: 1;

            .box {
                padding: 48px 38px;
                background-color: $dark-blue;
                color: $lighter-grey;

                .task {
                    padding-bottom: 40px;
                    padding-left: 30px;

                    #date {
                        padding-left: 20px;

                        &::before {
                            content: '';
                            border-left: 3px solid $red;
                            margin-right: 20px;
                        }
                    }
                }
                .content {
                    display: flex;
                }

                .content h1 {
                    display: flex;
                    align-content: center;
                    align-items: center;
                }
            }
        }
    }

    canvas.particles-js-canvas-el {
        position: absolute;
    }
}





.logo {
    fill: $red;
}

